{% extends 'base.html.twig' %}

{% block title %}Admin projets
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-center my-5">Administration projets</h1>
		<table class="table table-hover my-5">
			<thead>
				<tr>
					<th class="mb-2 text-secondary fs-5">Réf.</th>
					<th class="mb-2 text-secondary fs-5">Titre</th>
					<th class="mb-2 text-secondary fs-5">Début</th>
					<th class="mb-2 text-secondary fs-5">Fin</th>
					<th class="mb-2 text-secondary fs-5">Description</th>
					<th class="mb-2 text-secondary fs-5">Lien</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for project in projects %}
					<tr>
						<td class="align-middle ref">
							{{ project.id}}
						</td>
						<td class="align-middle">
							{{ project.title|length > 50 ? project.title|slice(0, 50) ~ '...' : project.title }}
						</td>
						<td class="align-middle">{{project.startDate|date('F Y') }}</td>
						<td class="align-middle">{{project.endDate|date('F Y') }}</td>
						<td class="align-middle py-3">
							{{ project.description|length > 50 ? project.description|slice(0, 50) ~ '...' : project.description }}
						</td>
						<td class="align-middle">
							{% if project.link != '' %}
								<a href="{{project.link}}" class="text-decoration-none site">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right mb-1 me-1" viewbox="0 0 16 16">
										<path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
										<path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
									</svg>
									Site</a>
							{% endif %}
						</td>
						<td>
							<div class="d-flex justify-content-end gap-3">
								<a href="{{path('admin_project_edit', {'id': project.id})}}" class="text-light">
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil mt-1" viewbox="0 0 16 16">
										<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
									</svg>
								</a>

								{{ include('admin_project/_delete_form.html.twig') }}
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">Aucun projet trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
