{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<section class="container my-5 py-5">
		<h1 class="text-center my-5">Bonjour Akuma !
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#E9AFAF" class="bi bi-emoji-heart-eyes" viewbox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
				<path d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/>
			</svg>
		</h1>
		<h2 class="text-center my-5">Un café et au boulot!
			<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewbox="0 0 172 172" style=" fill:#000000;">
				<g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
					<path d="M0,172v-172h172v172z" fill="none"></path>
					<g fill="#75dac0">
						<path d="M89.38625,6.82625c-1.89469,0.04031 -3.41312,1.59906 -3.38625,3.49375c0,10.50813 -4.01781,13.63906 -9.15094,18.24813c-5.13313,4.59562 -11.43531,10.68281 -11.43531,23.03187c-0.01344,1.23625 0.63156,2.39188 1.70656,3.02344c1.075,0.61813 2.39187,0.61813 3.46687,0c1.075,-0.63156 1.72,-1.78719 1.70656,-3.02344c0,-10.26625 3.99094,-13.28969 9.15094,-17.91219c5.16,-4.6225 11.43531,-10.81719 11.43531,-23.36781c0.01344,-0.92719 -0.34937,-1.8275 -1.00781,-2.48594c-0.65844,-0.65844 -1.55875,-1.02125 -2.48594,-1.00781zM106.61313,24.02625c-1.89469,0.04031 -3.41313,1.59906 -3.38625,3.49375c0,6.71875 -2.31125,8.31781 -5.73781,11.36813c-3.42656,3.05031 -8.04906,7.59219 -8.04906,16.15187c-0.01344,1.23625 0.63156,2.39188 1.70656,3.02344c1.075,0.61813 2.39187,0.61813 3.46687,0c1.075,-0.63156 1.72,-1.78719 1.70656,-3.02344c0,-6.45 2.27094,-7.92812 5.73781,-11.01875c3.46687,-3.07719 8.04906,-7.74 8.04906,-16.50125c0.01344,-0.92719 -0.34938,-1.8275 -1.00781,-2.48594c-0.65844,-0.65844 -1.55875,-1.02125 -2.48594,-1.00781zM37.84,65.36c-1.89469,0 -3.44,1.54531 -3.44,3.44v44.72c0,11.26063 5.46906,21.24469 13.85406,27.52h-24.17406c-1.89469,0 -3.44,1.54531 -3.44,3.44c0,6.10063 3.50719,11.2875 8.07594,14.87531c4.56875,3.57437 10.32,5.76469 16.00406,5.76469h75.68c5.68406,0 11.43531,-2.19031 16.00406,-5.76469c4.56875,-3.58781 8.07594,-8.77469 8.07594,-14.87531c0,-1.89469 -1.54531,-3.44 -3.44,-3.44h-24.17406c7.56531,-5.67062 12.75219,-14.33781 13.69281,-24.24125c7.57875,-0.7525 13.12844,-4.16562 16.32656,-9.31219c3.53406,-5.72438 4.38062,-12.99406 4.42094,-20.89531c0.01344,-0.02687 0.01344,-0.05375 0.01344,-0.08062c0.02688,-0.17469 0.04031,-0.33594 0.04031,-0.51063c0,-5.65719 -4.66281,-10.32 -10.32,-10.32h-10.32v-6.88c0,-1.89469 -1.54531,-3.44 -3.44,-3.44zM41.28,72.24h82.56v40.70219c-0.05375,0.33594 -0.06719,0.67188 -0.01344,1.00781c-0.24188,15.03656 -12.41625,27.09 -27.50656,27.09h-27.52c-15.23812,0 -27.52,-12.28187 -27.52,-27.52zM130.72,82.56h10.32c1.94844,0 3.44,1.49156 3.44,3.44c0,7.61906 -0.99437,13.90781 -3.44,17.85844c-2.05594,3.30563 -4.95844,5.40188 -10.32,6.00656zM28.51438,147.92h108.09125c-0.87344,2.17688 -2.23063,4.27313 -4.44781,6.02c-3.37281,2.63375 -7.94156,4.3 -11.75781,4.3h-75.68c-3.81625,0 -8.385,-1.66625 -11.75781,-4.3c-2.21719,-1.74687 -3.57437,-3.84312 -4.44781,-6.02z"></path>
					</g>
				</g>
			</svg>
		</h2>
		<form action="{{ path('login') }}" method="post" class="col-lg-4 offset-lg-4 ">

			<div class="form mb-5">

				<input type="text" id="username" name="_username" class="form-control py-2" placeholder="Email" value="{{ last_username }}"/></div>
			<div class="form mb-5">

				<input type="password" id="password" class="form-control py-2" name="_password" placeholder="Mot de passe"/></div>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{# If you want to control the URL the user is redirected to on success
																		        <input type="hidden" name="_target_path" value="/account"/> #}

			<button class="btn btn-primary col-sm-4 offset-sm-4 connexion rounded-pill fs-5 px-3 py-2">Se connecter</button>
		</form>
	</section>
{% endblock %}
