<section class="container-fluid banner d-flex align-items-center ">
	<div class=" container d-flex flex-column flex-sm-row align-items-center justify-content-center my-4 my-lg-0 justify-content-lg-between align-sm-items-end flex-wrap">
		<div class="mx-3 mx-lg-0 d-flex flex-column align-items-center">
			<img src="{{ asset('build/images/bocalFront.svg') }}" alt="front-end" class="skill mb-4">
			<h4 class="text-center text-secondary">Front end</h4>
		</div>
		<div class="mx-3 mx-lg-0 d-flex flex-column align-items-center">
			<img src="{{ asset('build/images/bocalBack.svg') }}" alt="back-end" class="skill mb-4">
			<h4 class="text-center text-secondary">Back end</h4>
		</div>
        
		<div class="mx-3 mx-lg-0 d-flex flex-column align-items-center justify-content-end bloc-center">
            <h3 class="text-center fs-2"> Des skills</h3>
			<img src="{{ asset('build/images/bocalVideo.svg') }}" alt="bocal" class="large-bocal mb-4">
			<h4 class="text-center text-secondary">Video editing</h4>
		</div>
        <div class="mx-3 mx-lg-0 d-flex flex-column align-items-center">
			<img src="{{ asset('build/images/bocalAdobe.svg') }}" alt="adobe" class="skill mb-4">
			<h4 class="text-center text-secondary">Adobe</h4>
		</div>
		<div class="mx-3 mx-lg-0 d-flex flex-column align-items-center">
			<img src="{{ asset('build/images/bocal3d.svg') }}" alt="3d" class="skill mb-4">
			<h4 class="text-center text-secondary">2D / 3D</h4>
		</div>
	</div>
</section>
