<section class="container my-5">
	<h2 class="text-center my-5">Expériences</h2>
	{% for experience in experiences %}
		<div class="col-6 offset-3 my-5 ">
			<h3 class="title">{{ experience.startDate|date('F Y')}}
				/
				{{ experience.endDate|date('F Y')}}
				-
				{{ experience.title}}</h3>
			<h4 class="text-secondary subtitle">{{experience.place}}
				-
				{{ experience.role}}</h4>
			<p class="mt-4 fs-5 description">
				{{experience.description}}</p>
			<div class="d-flex justify-content-center"><img src="{{ asset('build/images/separator3.svg') }}" alt="lamp" class="separator my-5 "></div>

		</div>
	{% endfor %}
</section>
