<section class="container projet d-flex flex-column align-items-center px-3 px-sm-0">
	{% for project in projects %}
		<div class="d-flex container row my-5 px-0 project">
			<div class="col-md-6 d-flex flex-column align-items-start justify-content-start">
				<h4 class="text-secondary ancrage" id="{{project.title}}">{{project.title}}</h4>
				<p class="date mb-3">{{project.startDate|date('F Y') }}
					/
					{{project.endDate|date('F Y') }}
				</p>
				<p class="description">{{project.description}}</p>
				<div class="technologies my-3">
					{% for technology in project.technologies %}
						<span class="btn rounded-pill text-light border-light m-2">{{ technology.name}}</span>
					{% endfor %}
				</div>
				{% if project.link %}
				<a href="{{project.link}}" class="btn btn-primary rounded-pill link my-2 px-3">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#75DAC0" class="bi bi-box-arrow-up-right mb-2 me-1" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
						<path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
					  </svg> Site
				</a>
				{% endif %}
			</div>
			<img src="{{ vich_uploader_asset(project) }}" alt="photo" class="photo mt-5 mt-md-0 col-md-5 offset-md-1">
		</div>
		<img src="{{ asset('build/images/separator2.svg') }}" alt="separator" class="my-5">
	{% endfor %}
</section>
