{% extends 'base.html.twig' %}

{% block title %}Admin formations
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block body %}
	<div class="container my-5 py-5">
		{% block flash %}
			{% for category, messages in app.flashes %}
				{% for message in messages %}
						<div class="alert alert-{{ category }} alert-dismissible fade show flash ms-5">
							{{ message }}
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
				{% endfor %}
			{% endfor %}
            {% endblock %}
		<h1 class="text-center my-5">Administration formations</h1>
		<a href="{{ path('admin_formation_new')}}" class="btn link px-3 py-2 rounded-pill">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#75DAC0" class="bi bi-plus-lg mb-1 me-1" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
			</svg>
			Créer une expérience</a>
		<table class="table table-hover my-5">
			<thead>
				<tr>
					<th class="pb-3 text-secondary fs-5">Réf.</th>
					<th class="pb-3 text-secondary fs-5">Titre</th>
					<th class="pb-3 text-secondary fs-5">Début</th>
					<th class="pb-3 text-secondary fs-5">Fin</th>
					<th class="pb-3 text-secondary fs-5">Description</th>
					<th class="pb-3 text-secondary fs-5">Lieu</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for formation in formations %}
					<tr>
						<td class="align-middle ref">
							{{ formation.id}}
						</td>
						<td class="align-middle">
							{{ formation.title|length > 50 ? formation.title|slice(0, 50) ~ '...' : formation.title }}
						</td>
						<td class="align-middle">{{formation.startDate|date('F Y') }}</td>
						<td class="align-middle">{{formation.endDate|date('F Y') }}</td>
						<td class="align-middle py-3">
							{{ formation.description|length > 50 ? formation.description|slice(0, 50) ~ '...' : formation.description }}
						</td>
						<td class="align-middle">
							{{formation.place}}
						</td>
						<td>
							<div class="d-flex justify-content-end gap-3">
								<a href="{{path('admin_formation_edit', {'id': formation.id})}}" class="link px-2">
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil mt-1" viewbox="0 0 16 16">
										<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
									</svg>
								</a>

								{{ include('admin_formation/_delete_form.html.twig') }}
							</div>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">Aucune formation trouvée</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
